$delays: 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000;

@each $delay in $delays {
	.animate-delay-#{$delay} {
		animation-delay: #{$delay}ms !important;
	}
}

.animate-load {
	opacity: 0;
	animation: load 250ms ease-out forwards;
}

.animate-line {
	animation: line 250ms ease-out forwards;
}

@keyframes load {
	0% {
		opacity: 0;
		transform: translateY(1.5rem) rotateX(15deg);
	}

	100% {
		opacity: 1;
		transform: translateY(0) rotateX(0);
	}
}

@keyframes line {
	0% {
		transform: scaleX(0);
	}

	100% {
		transform: scaleX(1);
	}
}